flows/User_Message_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_notification</name>
        <label>Send notification</label>
        <locationX>1156</locationX>
        <locationY>88</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>NotificationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>What_do_you_want_to_say2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>MessageTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendNotificationAccTeam</name>
        <label>SendNotificationAccTeam</label>
        <locationX>665</locationX>
        <locationY>559</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>NotificationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>What_do_you_want_to_say2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>MessageTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varAcctTeamUserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AssignUserChoiceToCollection</name>
        <label>AssignUserChoiceToCollection</label>
        <locationX>865</locationX>
        <locationY>88</locationY>
        <assignmentItems>
            <assignToReference>UserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LookupUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>putAcctTeamUserId</name>
        <label>putAcctTeamUserId</label>
        <locationX>416</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>varAcctTeamUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopvarAcctTeam.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAccountTeam</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AcctTeamMember</name>
        <choiceText>Account Team</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Team</stringValue>
        </value>
    </choices>
    <constants>
        <name>AccountIdMerge</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>MessageTitle</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Alert! You have a message</stringValue>
        </value>
    </constants>
    <constants>
        <name>NotificationId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0MLB0000000KyjGOAS</stringValue>
        </value>
    </constants>
    <decisions>
        <name>SendToAccTeam</name>
        <label>SendToAccTeam</label>
        <locationX>658</locationX>
        <locationY>308</locationY>
        <defaultConnector>
            <targetReference>AssignUserChoiceToCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccTeamTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AcctTeamMember</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendNotificationAccTeam</targetReference>
            </connector>
            <label>AccTeamTrue</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LookupUser</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>User Message Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Message Flow</label>
    <loops>
        <name>loopAccountTeam</name>
        <label>loopAccountTeam</label>
        <locationX>416</locationX>
        <locationY>82</locationY>
        <assignNextValueToReference>loopvarAcctTeam</assignNextValueToReference>
        <collectionReference>varAcctTeam</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>putAcctTeamUserId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Custom_Notification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAccountRecord</name>
        <label>GetAccountRecord</label>
        <locationX>50</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountTeamMembers</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecordVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getAccountTeamMembers</name>
        <label>getAccountTeamMembers</label>
        <locationX>236</locationX>
        <locationY>148</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopAccountTeam</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputReference>varAcctTeam</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <screens>
        <description>Use this screen to send users notifications</description>
        <name>Send_Custom_Notification</name>
        <label>Send Custom Notification</label>
        <locationX>666</locationX>
        <locationY>85</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SendToAccTeam</targetReference>
        </connector>
        <fields>
            <name>NewHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(37, 182, 172); font-size: 20px;&quot;&gt;Send A Custom Notification&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Who_do_you_want_to_message</name>
            <choiceReferences>LookupUser</choiceReferences>
            <choiceReferences>AcctTeamMember</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who do you want to message?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_do_you_want_to_say2</name>
            <fieldText>What do you want to say</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MergeMessage</name>
            <fieldText>&lt;p&gt;The following merge fields can be used in your message:&lt;b&gt; AccountId&lt;/b&gt; and &lt;b&gt;AccountName&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>GetAccountRecord</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AccountRecordVar.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>AccountRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>loopvarAcctTeam</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>TargetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAcctTeam</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>varAcctTeamUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
